<div ng-include="'partials/navbar'"></div>

<div class="row wishes">
  Your wishes so far:
  <div ng-repeat="wish in wishes">
    <div class="wish">{{wish.text}}</div>
  </div>
  <form role="form" ng-submit="makeAWish()">
    <div class="form-group">
      <div class="input-group">
        <input name="new-wish" class="form-control input-lg" ng-model="newWish" placeholder="Make a Wish!">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </span>
      </div>
    </div>
  </form>
</div>

<div class="footer">
  <p>Yepp</p>
</div>
