@import "vars.less";
@import "mixins.less";

.wish {
  background-color: #660066;
  color: #CC66CC;
  font-family: 'Share Tech', sans-serif;
  font-size: 24px;
  margin-bottom: 1px;
  padding: 10px 20px;
  vertical-align: middle;
}

.wish-button-group {
  float: right;
  font-size: (@font-size-base * 1.5);
}

.wish-button {
  color: @close-color;
  font-size: (@font-size-base * 1.5);
  font-weight: @close-font-weight;
  line-height: inherit;
  opacity: 0.5;
  text-decoration: none;
  text-shadow: none;
}

.wish-button:hover,
.wish-button:focus {
  color: @close-color;
  text-decoration: none;
  .opacity(.8);
}
